<p>
  Computing has become an integral and indispensable part of genomic biology.
  This course teaches basic skills in scientific computing, with a focus on
  applications for genomic science, aimed at making you more productive, your
  computational work more reliable, and your research easier to reproduce and
  extend, including by your future self. The course includes introductions to
  <ol>
    <li>using Unix shell commands to efficiently find, organize, and stage data
       for analysis;</li>
    <li>basic data types, control flows, functions, and 3rd party packages for
      the Python programming language commonly encountered in scientific computing;</li>
    <li>using version control to manage with confidence the numerous directions
      research code takes from inception to publication; and</li>
    <li>effectively using a high-performance computing cluster to run
      computational analyses.</li>
  </ol>
  The format of the course is inspired by the acclaimed
  <a href="{{site.swc_site}}">Software Carpentry</a>-style bootcamps.
  Hence, this is a fully hands-on workshop, and students are expected to bring
  a laptop. Participants will be encouraged to help one another and to apply
  what they have learned to their own research problems.
</p>
<p>
  The Carpentries, of which Software Carpentry is a part, develops and teaches
  workshops aims to help researchers get their work done in less time and with
</p>
<p align="center">
  <em>
    For more information on what The Carpentries teach and why,
    please see the paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
