<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Finding Things</li>
      <li>Pipes and Redirection</li>
      <li>Looping Over Files</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Data types and variables</li>
      <li>Loops and conditionals</li>
      <li>Creating and Using Functions</li>
      <li>Working with files</li>
      <li>Libraries and packages</li>
      <li>Using Python from the Command Line</li>
      <li><a href="https://github.com/Duke-GCB/scicomp-python/blob/master/intro-programming-python-instructor.ipynb">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a Repository</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing Changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring Files</li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving Conflicts</li>
      <li>Open Licenses</li>
      <li>Where to Host Work, and Why</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-hpc">Running programs on an HPC cluster</h3>
    <ul>
    	<li>Why you need a cluster</li>
    	<li>How a cluster works</li>
    	<li>Running a job: <code>srun</code></li>
      <li>Running a batch job: <code>sbatch</code></li>
      <li>Monitoring your jobs: <code>squeue</code>,  <code>sacct</code>, <code>scancel</code></li>
      <li>Moving files in/out: <code>scp</code></li>
    	<li>Finding/getting software</li>
      <li>Helpful Resources</li>
      <!-- <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li> -->
    </ul>
  </div>
</div>
